<app-navbar></app-navbar>

<!-- <div class="layout">
  <div class="user-form-layout">
    <h1>User Form</h1>
    <form [formGroup]="profileForm" profile class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First Name</mat-label>
        <input formControlName="firstName" matInput placeholder="Ex. Janith">
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName" matInput placeholder="Ex. Sandaru">
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <input formControlName="address" matInput placeholder="Ex. Colombo">
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>DoB</mat-label>
        <input formControlName="dob" matInput placeholder="Ex. 2000-01-21">
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Gender</mat-label>
        <input formControlName="gender" matInput placeholder="Ex. Male">
      </mat-form-field>
      <button (click)="saveForm()" class="btn-submit" mat-raised-button color="accent">Accent</button>
    </form>
  </div>
</div> -->

<!-- <app-home-page></app-home-page> -->

